---
layout: wrapper
title: Tag Archive
permalink: /blog/tags/
sidebar: true
---
{%- include /components/nav_button.liquid path="/blog/" buttonName="Back to Blog" class="post-nav_button" symbol="&#8592;" -%}

<section id="site-tags">
  <div class="row">
    {% for tag in site.tags %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mt-2">
        <div class="card-heading"> 
          <h2 class="h4 card-header" id="tag-{{tag[0] | replace: ' ', '-' | downcase}}"><span class="tag-hashtag">#</span><span class="text-capitalize">{{tag[0] | remove: ',' }}</span></h2>
        </div> 
        <div class="card-body p-2"> 
          <ul class="list-unstyled">
            {% for post in tag[1] %}
            <li><a href="{{post.url | relative_url}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div> 
    </div>
    {% endfor %}
  </div>
</section>