---
layout: wrapper
title: "Blog"
sidebar: true
seo-title: "Test seo title of blog post archive"
seo-description: "This is a test seo description of the blog post archive"
seo-keywords: "blog post archive, live, love laugh"
---
<section>
  {% for text in site.data.content.blog %}
  {% include /patterns/content-loop.html %}
  {% endfor %}
</section>

<section> 
  <div class="row">
    {% for post in site.posts %}
    <div class="col-sm-12 col-md-6"> 
      <div class="card my-2"> 
        {% if post.featured %}
        <img src="{{post.featured | relative_url}}" class="card-img-top post-card" alt="Featured image for post title: {{post.title}}">
        {% else %}
        {%- comment -%} Fallback Image {%- endcomment -%}
        <img src="/assets/img/uploads/featured/img.png" class="card-img-top post-card" alt="Placeholder for featured images">
        {% endif %}
        <hr>
        <h3 class="px-3 h6 fw-bold">{{post.title | upcase}}</h3>
        <div class="card-body py-0 fs-6">
          <p class="card-text">{{post.excerpt | strip_html | truncatewords: 30}}</p>
        </div>
        <div class="card-footer text-center">
          <div class="row-flex d-flex align-items-center">
            <div class="col-6 class="text-muted">
              <span>On</span>: <time class="h6" datetime="{{post.date | date: "%F"}}">{{post.date | date: "%b %-d, %Y"}}</time>
            </div>
            <div class="col-6">
              <button class="read-post-button"><a href="{{site.url}}{{post.url}}" class="read-post-url card-link">Read More &#10148;</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>