---
layout: wrapper
title: "Blog"
sidebar: false
seo-title: "Test seo title of blog post archive"
seo-description: "This is a test seo description of the blog post archive"
seo-keywords: "blog post archive, live, love laugh"
---

<section>
  {% for text in site.data.content.blog %}
  {%- include content-loop.html -%}
  {%- endfor -%}
</section>

<section> 
  <div class="row">
    {% for post in site.posts %}
    <div class="col-sm-12 col-md-6"> 
      <ol class="list-unstyled article-titles">
        <li>
          <h2><a href="{{ site.url }}{{ post.url }}">{{post.title}}</a></h2>
        </li>
      </ol>
      {% if post.featured %}
      <img src="{{ post.featured | relative_url}}" class="img-fluid" alt="Featured image for {{ post.title }}">
      {% else %}
      {%- comment -%} Fallback Image {%- endcomment -%}
      <img src="/assets/img/featured/img.png" class="img-fluid" alt="Placeholder for featured images">
      {% endif %}
      <time class="h6" datetime="{{post.date | date: " %F"}}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <p>{{ post.excerpt |strip_html | truncatewords: 30 }}</p>
    </div>
    {% endfor %}
  </div>
</section>