---
title: Category Archive
layout: wrapper
permalink: /blog/categories/
sidebar: true
---
{%- for text in site.data.content.posts -%}
{%- include content-loop.html -%}
{%- endfor -%}

{%- include components/button-b2b.html -%}

<section id="site-categories">
  <div class="row">
    {% for categories in site.categories %}
    <div class="col-sm-12 col-lg-6">
      <div class="card mt-2">
        <div> 
          <h2 class="h4 text-center card-header"><span class="text-capitalize">{{categories[0]}}</span></h2>
        </div> 
        <div class="card-body p-2"> 
          <ul class="list-unstyled text-center">
            {% for post in categories[1] %}
            <li><a href="{{post.url | relative_url}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div> 
    </div>
    {% endfor %}
  </div>
</section>