---
layout: resume
title: "Home"
description: "Resume"
---

<h2 class="header-c">Employment</h2>

{% for item in site.data.exp.list %}
<div class="body-c">
  <h4 class="name-c">{{ item.title }} at {{ item.job }}</h4>
  <span class="it"> From {{ item.start }} to {{ item.end }}</span>
  <hr class="divider" />
  <p class="blurb-c">{{ item.blurb }}</p>
</div>

{% endfor %}

<h2 class="header-c">Education</h2>

{% for item in site.data.ed.list %}
<div class="body-c">
  <h4 class="name-c"> {{ item.degree }} at {{ item.school }}</h4> <span class="it"> From {{ item.start }} to {{ item.end }}</span>
  <hr class="divider">
  <p class="blurb-c">{{ item.blurb }}</p>
</div>
{% endfor %}