---
layout: resume
title: "Resume"
description: You can see these on my LinkedIn...but here they are for convenience.
full: true
---

<h2>Employment</h2>

<p>{{ page.description }}</p>

{% for item in site.data.experience.list %}
<div class="accordion accordion-flush" id="acc-parent-{{item.id}}">
  <h4>{{ item.title }} at {{ item.job }}</h4>
  <span> From {{ item.start }} to {{ item.end }}</span>
  <hr>
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acc-{{item.id}}" aria-expanded="true" aria-controls="acc-{{item.id}}">
    Read More >>
  </button>
  <div class="accordion-item">
    <div id="acc-{{item.id}}" class="accordion-collapse collapse show" data-bs-parent="#acc-parent">
      <div class="accordion-body">
        <p>{{ item.blurb }}</p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<h2>Education</h2>

{% for item in site.data.education.list %}
<div id="#{{item.id}}">
  <h4> {{ item.degree }} at {{ item.school }}</h4> <span class="it"> From {{ item.start }} to {{ item.end }}</span>
  <hr>
  <p>{{ item.blurb }}</p>
</div>
{% endfor %}