<section>
    <div class="card mt-3" id="sidebar-tags-card"> 
        <h2 class="h5 card-header bg-dark text-white">Explore Tags</h2>
        {% if site.tags.size < 1 %}
        <p class="text-center text-muted">No tags...yet</p>
        {% endif %}
        
        {% if site.tags > 1 %}  
        <div class="card-body">
            <ul class="list-unstyled">
                {%- for tags in site.tags | limit: 5 -%}
                <li class="h6 text-capitalize">
                    <a href="/blog/tags/#{{tags[0] | replace: ' ', '-' | downcase}}">{{tags[0]}}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
        <div class="card-footer">
            <a href="/blog/tags/">Show All</a>
        </div>
        {% endif %}
    </div>
</section>
