<section>
    <div class="card mt-3" id="sidebar-tags-card"> 
        <h2 class="h5 card-header bg-dark text-white">Explore Tags</h2>
        {% if site.tags.size < 1 %}
        <p class="text-center text-muted">No tags...yet</p>
        {% endif %}
        
        {% if site.tags.size > 1 %}
        {% for tag in site.tags %}
            <p class="h6 card-header text-center" id="tag-{{tag[0] | replace: ' ', '-' | downcase}}"><a href="tags/#tag-{{tag[0] | replace: ' ', '-' | downcase | limit: 5}}"><span class="tag-hashtag">#</span><span class="text-capitalize">{{tag[0] | remove: ',' | limit: 5}}</span></a></p>
        {% endfor %}
        {% endif %}
    </div>
</section>
