<section>
    <div class="card mt-3" id="sidebar-category-card"> 
        <h2 class="h5 card-header bg-dark text-white">Explore Categories</h2>
        {% if site.categories.size < 1 %}
        <p class="text-center text-muted">No categories...yet</p>
        {% endif %}
        
        {% for categories in site.categories %}
              <p class="h6 card-header text-center" id="{{categories[0] | replace: ' ', '-' | downcase }}"><span class="text-capitalize"><a href="categories/#{{categories[0]  | remove: ',' | limit: 5}}">{{categories[0] | limit: 5}}</a> </span></p>
        {% endfor %}
    </div>
</section>