<foote class="container" >
  <div class="row"  style="background-color: #858b9b;">
    <div class="col-sm text-center">  
      <p>{{page.author}} | &copy;{{ site.time | date: '%Y' }}</p> 
    </div>
    <div class="col-sm text-center"> 
      <p><a href="mailto:daniel@subseven.io">Email Me</a></p>
    </div>
    <div class="col-sm text-center">
      {% for item in site.data.links.linklist %}
      <span ><a href="{{ item.url }}">{{ item.name }}</a></span>
      {% endfor %}
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </div>
</footer>
