<footer class="text-center mt-3" >
  <div class="row pt-3"  style="background-color: #858b9b;">
    <div class="col">  
      <p>{{page.author}} | &copy;{{ site.time | date: '%Y' }}</p> 
    </div>
    <div class="col"> 
      <p><a href="mailto:daniel@subseven.io">Email Me</a></p>
    </div>
    <div class="col">
      {% for item in site.data.footer.linklist %}
      <span><a href="{{ item.url }}">{{ item.name }}</a></span>
      {% endfor %}
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </div>
</footer>
