    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="SubSeven >> Full-Stack Web Development">
    <meta name="description" content="Daniel Hernandez is a web developer based out of Chicago, IL specializing in PHP, Wordpress, and static sites.">
    <meta name="keywords" content="web developer near me, wordpress, php developer, monva digital">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Daniel Hernandez">
