{%- comment -%}
Handles the navigation menu of the website. Todo: context to buttons.
{%- endcomment -%}
<header>

  <a class="skip-to-content" href="#main-content">Skip to main content</a>

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-3 ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img height="32" width="32" class="rounded-circle"
          src="/assets/img/site-logo.svg" alt="subseven.io"> </a>
      <button aria-label="Menu Toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
        name="toggle">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
        {% for nav_item in site.data.nav.menu %}
        <ul class="navbar-nav" role="menubar">
          <li class="nav-item" role="menuitem">
            <a class="nav-link" href="{{nav_item.link }}">{{nav_item.name }}</a>
          </li>
        </ul>
        {%- endfor -%}
      </div>
    </div>
  </nav>
</header>