    <main class="container">
        <div class="align-items-center">
            <h1>{{ page.title }}</h1>
        </div>
        <hr>
        {% if page.sidebar == true %}
        <div class="row">
            <div class="col-lg-10">
            {{content}}
            </div>
            <div class="col-lg-2">
            {% include sidebar.html %}
            </div>
        </div>
        
        {% else %} 
        {{ content }} 
        {% endif %}
    </main>

            {%- comment -%}        
            <div class="col text-right">
                {% if page.title != "Home" %}
                <button class="btn" onclick="history.back();">&laquo; Last Page</button>
                {% endif %}
            </div>
        </div>
            {%- endcomment -%}
