    {%- comment -%}
    This handles the main wrapper of the website (encased in a container).
    This includes: h1, main content, and can be expanded to include additional stylings. 
    I wonder if I have *too* many modular parts. 
    In short: wrapper handles the "boring" parts of the html and this is more of an influence on the on-page content. 
    It has a conditional statement that checks per page whether to include a sidebar or not.
    {%- endcomment -%}
    <main class="container">
        <h1>{{ page.title }}</h1>
        <hr>
        {% if page.sidebar or post.sidebar == true %}
        <div class="row">
            <div class="col-lg-10">
            {{content}}
            </div>
            <div class="col-lg-2">
            {% include sidebar.html %}
            </div>
            {{ content }}
        </div>
        {% else %}
        {{ content }}
        {% endif %}
    </main>

            {%- comment -%}        
            <div class="col text-right">
                {% if page.title != "Home" %}
                <button class="btn" onclick="history.back();">&laquo; Last Page</button>
                {% endif %}
            </div>
        </div>
            {%- endcomment -%}
