{%- comment -%}
Basic meta tags for seo. Todo: opengraph and schema stuff.
{%- endcomment -%}
    <meta name="title" content="{% if page.seo-title or post.seo-title %}{{ page.seo-title }} | {{site.title}}{% else %}{{page.title}} | {{site.title}}{% endif %}">    
    <meta name="description" content="{% if page.seo-description or post.seo-description %}{{page.seo-description}}{% else %}{{site.seo-description}} {% endif %}">
    <meta name="keywords" content="{% if page.seo-keywords or post.seo-keywords %}{{page.seo-keywords}}{% else %}{{site.seo-keywords}}{% endif %}">