{%- comment -%} Sidebar. For now, it only displays blog links but will expand as more use cases are needed. {%- endcomment -%}
<aside class="card p-2 pm-0">
    <section class="sm-text-center">
        <h2 class="text-center h6"> Recent posts </h2>
        <section class="card-body">
            <p>Read my latest posts.</p>
            <ul class="list-unstyled text-left">
                {% for post in site.posts limit: 5 %}
                <li><a href="{{post.url}}">{{ post.title}}</a></li>
                {% endfor %}
            </ul>
        </section>
    </section>
</aside>