{%- comment -%} Sidebar. For now, it only displays blog links but will expand as more use cases are needed. {%- endcomment -%}
<aside class="card p-2 mt-sm-3">
    <section class="sm-text-center">
        <h2 class="text-center h6"> Recent posts </h2>
        <section class="card-body">
            <p>Read my latest posts.</p>
                {% for post in site.posts limit: 6 %}
                <span><a href="{{post.url}}">{{ post.title}}</a></span>
                {% endfor %}
        </section>
    </section>
</aside>