.post-card{
    transition: .2s ease-in;
}

.post-card:hover {
    opacity: 0.6;
    transition: .2s ease-out;
}

.read-post-button {
    border-radius: .5em;
    background-color: $primary;
    color: $white;
    margin-top: .5em;
    max-width: 100%;
    white-space: normal;
    transition: .2s ease-in;
}

.read-post-button:hover {
    background-color: $light;
    color: $light;
    transition: .2s ease-out;
}

.read-post-url {
    text-decoration: none;
    color: inherit;
}

.post-back-button {
    padding: 0;
    border: none;
    background: none;
    color: $primary;
    text-decoration: underline;
}
    .post-back-button:hover {
        color: $orange;
    }

.post-tag {
    border:  .1rem solid $light; 
    overflow: hidden;
    display: inline-block;
    text-transform: capitalize;
    z-index: 0;
    transition: 1s;
}

.post-categories {
    border:  .1rem solid $light; 
    overflow: hidden;
    display: inline-block;
}