$theme-colors: (    
    primary: #0c0f58,
    secondary: #474891,
    success: #0d4a0a,
    info: #1a4262,
    warning: #444109,
    danger: #6c292d,
    light: #D9DCD6,
    dark: #090A48
);