$red:     #D7263D;
$dark: #090A48;
$primary: #0c0f58; 
$secondary: #474891;
$light: #D9DCD6;


$font-size-base: 1.2rem; 
$font-family-sans-serif: "Roboto", sans-serif;
$line-height-base: 1.8;
$body-bg: $primary; 
$body-color: $light;
$link-color: $red;
$accordion-bg: $dark;
