<footer class="mt-3 container-fluid text-light" >
  <div class="row pt-3 bg-dark px-lg-5">
    <div class="col">  
      <p>{{page.author}} | <span id="copyleft">&copy;</span>{{site.time | date: '%Y'}}</p> 
    </div>
    <div class="col"> 
      <p><a href="/contact/" class="text-light">Contact Me</a></p>
    </div>
    <div class="col">
      <div class="footer-links">
      {% for item in site.data.nav.footer %}
            <span class="mx-2"><a href="{{item.link}}" class="text-light">{{item.name}}</a></span>
      {% endfor %}
      </div>
    </div>
  </div>
</footer>
