<footer class="navbar-expand-lg bg-dark navbar-dark" >
<div class="container"> 
  <div class="row">
    <div class="col-md-4 col-sm-6 my-2">  
      <p class="m0 text-center text-light">{{page.author}} | <span id="copyleft">&copy;</span>{{site.time | date: '%Y'}}</p> 
    </div>
    <div class="col-md-4 col-sm-6 my-2"> 
      <p class="m0 text-center"><a href="/contact/" class="text-light">Contact Me</a></p>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
        {% for item in site.data.nav.footer %}
        <p class="m-0 text-center"><a href="{{item.link}}" class="text-light">{{item.name}}</a></p>
        {% endfor %}
    </div>
  </div>
</div>
</footer>
