{%- comment -%} Sidebar. For now, it only displays blog links but will expand as more use cases are needed. {%- endcomment -%}
<aside class="card mt-sm-3">

    {%- if page.url != "/blog/" -%}
        <section class="sm-text-center" id="sidebar-posts-list">
        <div class="card">
            <h2 class="text-center h4 card-header">Read Posts</h2>
            <div class="card-body">
                <h3 class="h5 p-2">Latest Post</h3>
                <ol class="list-unstyled">{% for post in site.posts | limit: 1 %}<li><a href="{{post.url}}">{{post.title}}</a></li>{% endfor %}</ol>
                {% if site.posts.size > 1 %}
                <h3 class="h5 p-2">Recent Posts</h3>
                <ol class="list-unstyled">
                    {% for post in site.posts | limit: 4 | offset: 1 %}
                    <li>
                        <a href="{{post.url}}">{{post.title}}</a>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
        </section>
        {%- endif -%}

    {%- if page.url == "/blog/" -%}        
    <section>
        <div class="card" id="sidebar-category-card"> 
            <h2 class="h5 card-header">Explore Categories</h2>
            <div class="card-body">
                <ul class="list-unstyled text-center">
                    {%- for categories in site.categories | limit: 5 -%}
                    <h3 class="h6 text-center"><span class="text-capitalize">{{categories[0]}}</span></h3>
                    {%- endfor -%}
                  </ul>
            </div>
            <div class="card-footer">
                <a href="/blog/categories/">Show All</a>
            </div>
        </div>

        <div >

        </div>
    </section>
    {%- endif -%}
</aside>