{%- comment -%} Sidebar. For now, it only displays blog links but will expand as more use cases are needed. {%- endcomment -%}
<aside class="mt-sm-3">
{%- comment -%} This shows up in the general pages {%- endcomment -%}
    {%- if page.url != "/blog/" -%}
        <section class="sm-text-center" id="sidebar-posts-list">
        <div class="card">
            <h2 class="text-center h4 card-header bg-dark text-white">Read Posts</h2>
            <div class="card-body">
                <h3 class="h5 p-2">Latest Post</h3>
                <ol class="list-unstyled">{% for post in site.posts | limit: 1 %}<li><a href="{{post.url}}">{{post.title}}</a></li>{% endfor %}</ol>
                {% if site.posts.size > 1 %}
                <h3 class="h5 p-2">Recent Posts</h3>
                <ol class="list-unstyled">
                    {% for post in site.posts | limit: 4 | offset: 1 %}
                    <li>
                        <a href="{{post.url}}">{{post.title}}</a>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
        </section>
        {%- endif -%}
{%- comment -%}This will only show up in the blog section{%- endcomment -%}
    {%- if page.url == "/blog/" -%}        
    <section>
        <div class="card mt-3" id="sidebar-category-card"> 
            <h2 class="h5 card-header bg-dark text-white">Explore Categories</h2>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- for categories in site.categories | limit: 5 -%}
                    <li class="h6 text-capitalize">
                       <a href="/blog/categories/#{{categories[0] | replace: ' ', '-' | downcase}}">{{categories[0]}}</a>
                    </li>
                    {%- endfor -%}
                  </ul>
            </div>
            <div class="card-footer">
                <a href="/blog/categories/">Show All</a>
            </div>
        </div>
        <div class="card mt-3" id="sidebar-category-card"> 
            <h2 class="h5 card-header bg-dark text-white">Explore Tags</h2>
            <div class="card-body">
                <ul class="list-unstyled">
                    {%- for tags in site.tags | limit: 5 -%}
                    <li class="h6 text-capitalize">
                       <a href="/blog/tags/#{{tags[0] | replace: ' ', '-' | downcase}}">{{tags[0]}}</a>
                    </li>
                    {%- endfor -%}
                  </ul>
            </div>
            <div class="card-footer">
                <a href="/blog/tags/">Show All</a>
            </div>
        </div>
    </section>
    {%- endif -%}
</aside>