<details class="card card-header p-md-3">
    <summary class="h4 text-center">Table of Contents (Expand)</summary>
    <div class="card card-body">{% include /imports/toc.liquid html=content h_min=2 ordered=true %}</div>
</detai>