---
layout: wrapper
---
<main class="container">
    <div class="post-meta-container">
        <div class="row mb-3 mt-0">
            {% if page.image %}
            <img src="{{post.featured | relative_url}}" class="img-fluid" alt="{{post.alt}}">
            {% else %}
            <!-- Fallback image in case of no image declared in the post -->
            <img src="{{site.global-image}}" class="img-fluid"
                alt="Fallback post banner image that says subseven.io">
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-lg-10 col-sm-12 col-xs-12">
                <h1 class="h3 fw-bold">{{page.title}}</h1>
                <p class="h6 fw-light">{{page.author}}</p> 
            </div>
            <div class="col-lg-2 col-sm-12 col-xs-12">
            <p class="h6"><span class="fw-bold">Posted 🕒</span> 
                <time datetime="{{page.date | date: " %F"}}"> {{page.date | date: "%m/%d/%Y"}}</time> 
                <time datetime="{{page.date | date: " %T"}}"> {{page.date | date: "%T"}} </time> 
            </p>
            </div>
        </div>
        <section class="my-3">  
            {%- include /components/toc.html -%}
        </section>
    </div>


    <article itemscope itemtype="https://schema.org/CreativeWork">
        {{- content -}}
    </article>
    
    {%- comment -%} Categories {%- endcomment -%}
    <div class="row">
        
        <div class="col-md-6 fst-italic">
            {% if page.categories %}
            <div>
                {% if page.categories.size < 2  %}
                <p class="text-center h6">Category</p>
                {% elsif page.categories.size >= 2 %}
                <p class="text-center h6">Categories</p>
                {% endif %}
                <hr class="post-hr">
            </div>
        <div> 
            {% for category in page.categories %}  
            <span class="text-center post-categories p-1" id="{{category | replace: ' ', '-' | downcase}}"><a href="/blog/categories/#{{category | replace: ' ', '-' | downcase}}" class="text-decoration-none">{{category}}</a></span>
            {% endfor %}
            {% if page.categories.size < 1  %}
            <p class="text-center">This post has no categories :(</p>
            {% endif %}
            {% endif %}
        </div>            
    </div>

    {%- comment -%} Tags {%- endcomment -%}
        <div class="col-md-6 fst-italic">
            <div> 
                {% if page.tags %}
                <p class="text-center h6">Tag{% if page.tags.size > 1 %}s{% endif %}</p>
                <hr class="post-hr">
            </div>

            <div> 
                {%- for tag in page.tags -%}
                <span class="post-tag text-center p-1" id="{{tag | replace: ' ', '-' | downcase}}"><a href="/blog/tags/#{{tag | downcase | replace: ' ', '-' }}" class="text-decoration-none">{{tag}}</a></span>
                {% endfor %}
                {% if page.tags.size < 1  %}
                <p class="text-center h6">This post has no tags :(</p>
                {% endif %}
                {% endif %}
            </div>
        </div>

    {%- comment -%} Prev/Next {%- endcomment -%}
        <div class="col-md-12">
            <div class="flex-row d-flex align-items-center">
                <div class="col-6 text-center">
                    {% if page.next.url %}
                    <a class="post-next" href="{{page.next.url}}">&laquo; Previous Post</a>
                    {% endif %}
                </div> 
                <div class="col-6 text-center">
                    {% if page.previous.url %}
                    <a class="post-prev" href="{{page.previous.url}}">Next Post &raquo;</a>
                    {% endif %}
                </div>
        </div>
        </div>
    </div>
</main>