{%- comment -%}
---
layout: html_minifier
---
{%- endcomment -%}
<!DOCTYPE html>
<!-- 
  Hey you looking at the source code!
  Nice to meet you! 

  This website is not done! 
  I deployed it early because I needed a live copy to set up the infrastructure for the CMS. 
  Because of this, the source code is still private! I need to cleanup a lot of my structure.

  Should be done by December! So please don't mind the lorem ipsum text in the meantime.
  Thank you!
-->
<html lang="{{site.lang | default: "en-US"}}">

<head>
  <title>{{page.title}} | {{site.global-title}}</title>
  {% include /patterns/seo.html %}
  {% include /patterns/honeypot.html %}
  {% include /patterns/favicon.html %}
  {% include /patterns/styles.html %}
</head>

<body>
  {% include /components/nav.html %}
  <div id="main-content" tabindex="-1">
    {% if page.layout != "post" %}
    {% include /patterns/page-content.html %}
    {% else %}
    {{content}}  
    {% endif %}
    {% include /components/footer.html %}
    {% include /patterns/scripts.html %}
  </div>
</body>
</html>