{%- comment -%}
---
layout: html_minifier
---
{%- endcomment -%}
<!DOCTYPE html>
<html lang="{{site.lang | default: "en-US"}}">

<head>
  <title>{{page.title}} | {{site.global-title}}</title>
  {% include seo.html %}
  {% include favicon.html %}
  {% include styles.html %}
</head>

<body>
  {% include components/nav.html %}
  <div id="main-content" tabindex="-1">
    {% if page.layout != "post" %}
    {% include page-content.html %}
    {% else %}
    {{content}}  
    {% endif %}
    {% include components/footer.html %}
    {% include scripts.html %}
  </div>
</body>
</html>