---
layout: html_minifier
---
<!DOCTYPE html>
<html lang="{{site.lang | default: "en-US"}}">

<head>
  <title>{{page.title}} | {{site.title}}</title>
  {%- include /patterns/seo.liquid -%}
  {%- include /patterns/honeypot.html -%}
  {%- include /patterns/favicon.html -%}
  {%- include /patterns/styles.html -%}
  {%- include /patterns/analytics.min.html -%}
</head>

<body>
  {%- include /components/nav.html -%}
  <div id="main-content" tabindex="-1">
    {%- if page.layout != "post" -%}
    {%- include /patterns/page-content.html -%}
    {%- else -%}
    {{- content -}}  
    {%- endif -%}
    {%- include /components/footer.html -%}
    {%- include /patterns/scripts.html -%}
  </div>
</body>
</html>